packages:
  yum:
    curl: []

files:
  "/tmp/install_datadog.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      DD_API_KEY=${DD_API_KEY} DD_SITE="us5.datadoghq.com" DD_APM_ENABLED=true bash -c "$(curl -L https://s3.amazonaws.com/dd-agent/scripts/install_script.sh)"

commands:
  01_install_datadog_agent:
    command: "bash /tmp/install_datadog.sh"
