option_settings:
  aws:elasticbeanstalk:application:environment:
    DD_SERVICE: "carboncloud-app"
    DD_ENV: "production"
    DD_VERSION: "v1"
    DD_SITE: "us5.datadoghq.com"

commands:
  01_install_datadog:
    command: |
      if [ -z "$DD_API_KEY" ]; then
        echo "DD_API_KEY not set, skipping Datadog install"
        exit 0
      fi

      DD_API_KEY=$DD_API_KEY \
      DD_SITE="us5.datadoghq.com" \
      DD_APM_ENABLED=true \
      DD_LOGS_ENABLED=true \
      bash -c "$(curl -L https://s3.amazonaws.com/dd-agent/scripts/install_script_agent7.sh)"